:root{
  --main-padding: 2rem;
  --light-gray: #d4d4d4;
  --dark-gray: #2e2e2e;
}
*{
  /* outline: 1px solid black; */
  margin: 0;
}
h1, h4, p, button{
  font-family: 'Work Sans', sans-serif;
}
button{
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}
.body{
  display: flex;
  justify-content: space-around;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--main-padding);
}
.data{
  background-color: var(--light-gray);
  width: 25vw;
  border-radius: 1rem;
}
.userData{
  display: flex;
}
/* Gender, Height, etc. */
.userData--title{
  margin-right: auto;
  padding: var(--main-padding);
}
/* Content submitted by user for Gender, Height, etc. */
.userData--content{
  margin-left: auto;
  padding: var(--main-padding);
}
.input{
  background-color: var(--light-gray);
  display: flex;
  width: 45vw;
  border-radius: 1rem;
}

.btn-page{
  width: 15%;
}
.input-next{
  margin-left: auto;
}
.gender{
  /* Compensates for lack of a button on first page */
  padding-left: 15%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  height: 100%;
  /* 2x2 Grid */
  grid-template-columns: 1fr 1fr;
  /* Aligns the question in the center */
  text-align: center;
}
.input-button{
  color: white;
  background-color: var(--dark-gray);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  margin: var(--main-padding);
  margin-bottom: 2rem;
}
.question{
  font-size: 2rem;
  padding-top: 4rem;
  /* Stretch across two grid columns */
  grid-column: 1 / 3;
}
.input-container{
  /* Stretches the input div to fill the box - the buttons */
  width: fill;
  display: grid;
}
